.sales-by-store-container {
  margin: auto;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sales-by-store-quantity-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.sales-by-store-quantity {
  font-size: 36px;
  color: var(--bs-primary)
}

.sales-by-store-quantity-label {
  font-size: 18px;
}

@media (min-width: 576px) {
  .sales-by-store-container {
    padding: 40px;
  }
}

@media (min-width: 992px) {
  .sales-by-store-container  {
    flex-direction: row;
  }

  .sales-by-store-quantity-container {
    margin-bottom: 0;
  }
}
